.project__container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.project__hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--project-web-hero-image);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project__hero::after{
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    opacity: 0.7;
    z-index: 2;
}

.project__hero h1{
    color: white;
    z-index: 3;
    font-size: 4rem;
    opacity: 0.9;
}

@media screen and (max-width:720px) {
  .project__hero{
    background: var(--project-mobile-hero-image);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}