.hero__mask {
  width: 100%;
  height: 120vh;
  position: relative;
  background-image: var(--home-web-theme-image);
  background-size: auto;
  background-size: cover;
  background-position: center;
  animation: toLeft 2s ease-in-out;
}

.hero__mask::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--black-color);
  opacity: 0.2;
}

.hero__container {
  width: 100%;
  height: calc(100%-90px);
  overflow: auto;
  overflow-x: hidden;
}

.hero__container .title {
  font-size: 4rem;
  padding: 0.5rem 0 1.5rem;
  color: var(--text-color);
  white-space: wrap;
  margin-bottom: 1rem;
}

.hero__container .sub-title {
  font-size: 1.5rem;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 200;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.hero__content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  animation: fadeInRight 2s ease-in-out;
}

@media screen and (max-width: 640px) {
  .hero__mask {
    background-image: var(--home-mobile-theme-image);
  }
  .hero__container .title {
    font-size: 3rem;
  }
  .hero__container .sub-title {
    font-size: 1.2rem;
  }
  .button {
    font-size: 1.1rem;
  }
  .hero__mask::after {
    opacity: 0.8;
  }
}

@keyframes toLeft {
  from {
    transform: translateX(5%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(-50%, -50%);
    opacity: 0;
    top: 50%;
    left: 45%;
  }
  to {
    opacity: 1;
    transform: translateX(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}
